*,
html,
body {
    margin: 0;
    padding: 0;
    font-family: roboto-regular;
    font-size: 14px;
}

@font-face {
    font-family: cairo-bold;
    src: url(../fonts/Cairo-Bold.ttf);
}

@font-face {
    font-family: cairo-medium;
    src: url(../fonts/Cairo-Medium.ttf);
}

@font-face {
    font-family: cairo-regular;
    src: url(../fonts/Cairo-Regular.ttf);
}

@font-face {
    font-family: cairo-light;
    src: url(../fonts/Cairo-Light.ttf);
}

@font-face {
    font-family: quicksand-bold;
    src: url(../fonts/Quicksand-Bold.ttf);
}

@font-face {
    font-family: quicksand-medium;
    src: url(../fonts/Quicksand-Medium.ttf);
}

@font-face {
    font-family: quicksand-regular;
    src: url(../fonts/Quicksand-Regular.ttf);
}

@font-face {
    font-family: quicksand-light;
    src: url(../fonts/Quicksand-Light.ttf);
}

textarea {
    resize: none !important;
}

.rmv-style {
    text-decoration: none;
    list-style: none;
}

.cairo-bd {
    font-family: cairo-bold;
}

.cairo-md {
    font-family: cairo-medium;
}

.cairo-rg {
    font-family: cairo-regular;
}

.cairo-lg {
    font-family: cairo-light;
}

.quicksand-bd {
    font-family: quicksand-bold;
}

.quicksand-md {
    font-family: quicksand-medium;
}

.quicksand-rg {
    font-family: quicksand-regular;
}

.quicksand-lg {
    font-family: quicksand-light;
}


.size-10 {
    font-size: 10px;
}

.size-12 {
    font-size: 12px;
}

.size-14 {
    font-size: 14px;
}

.size-16 {
    font-size: 16px;
}

.size-18 {
    font-size: 18px;
}

.size-20 {
    font-size: 20px;
}

.size-22 {
    font-size: 22px;
}

.size-28 {
    font-size: 28px;
}

.size-32 {
    font-size: 32px;
}

.size-52 {
    font-size: 52px;
}

.p-0-m-0 {
    padding: 0;
    margin: 0;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-100 {
    margin-top: 100px;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.flex-center {
    align-items: center;
}

.flex-justify {
    justify-content: center;
}

.flex-right {
    justify-content: right;
}

.space-btw  {
    justify-content: space-between;
}

.grid {
    display: grid;
}

.grid-1 {
    grid-template-columns: 1fr;
}

.grid-2 {
    grid-template-columns: 1fr 1fr;
}

.grid-3 {
    grid-template-columns: 1fr 1fr 1fr;
}

.grid-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.grid-5 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.grid-6 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-7 {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.grid-2b {
    grid-template-columns: 2fr 1fr;
}

.gap-5 {
    gap: 5px;
}

.gap-10 {
    gap: 10px;
}

.gap-20 {
    gap: 20px;
}

.gap-30 {
    gap: 30px;
}

.gap-40 {
    gap: 40px;
}

.gap-50 {
    gap: 50px;
}

.gap-100 {
    gap: 100px !important;
}

.w-100 {
    width: 100%;
}

.h-100 {
    height: 100%;
}

.bx-bb {
    box-sizing: border-box;
}

.container-p {
    padding: 0 200px;
}

.container-m {
    margin: 0 150px;
}

.align-center {
    text-align: center;
}

.overflow-scr {
    overflow: scroll;
}

.round-btn {
    border-radius: 30px;
}

.round {
    border-radius: 200px;
}

.bg-red {
    background-color: #ff0000;
}

.bd-red {
    border: 1px solid #ff0000;
}

.scrollbar-none {
    scrollbar-width: none;
}

.hover-red:hover {
    color: red;
}

.col-white {
    color: #FFF;
}

.col-black {
    color: #000;
}

.col-red {
    color: #ff0000;
}

.col-yellow {
    color: #ffff00;
}

.bg-yellow {
    background-color: #ffff00;
}

.rad-bg {
    background: radial-gradient(circle, rgba(67, 69, 112, 1) 3%, rgba(35, 36, 57, 1) 60%);
}

.str-black {
    border: 1px solid #000;
}

.ft-cont {
    width: fit-content;
    height: fit-content;
}

.bx-shadow {
    box-shadow: 2px 2px 5px 5px #11111166;
}

.button {
    outline: none;
    border: transparent;
}

.button:active {
    margin-top: 1px;
}

.medium-img {
    width: 300px;
}

.small-img {
    width: 70px;
}

nav ul, nav a{
    text-decoration: none;
    list-style: none;
    color: #FFF;
    font-family: cairo-medium;
    font-size: 16px;
}

nav ul li a:hover, .footer a:hover {
    color: red;
    transition: 300ms ease-in-out;
    padding-bottom: 1px;
    border-bottom: 2px solid #FFF;
}

.logo {
    width: 30px;
}

.responsive-menu ul {
    height: 100%;
    justify-content: space-between;
}

.responsive-menu ul a {
    font-family: cairo-bold;
    font-size: 14px;
    color: #FFF;
    border-bottom: 2px solid yellow;
}


.responsive-menu {
    padding: 30px 0 20px 0;
    width: 100%;
    height: 40vh;
    transition: transform 0.3s ease-in;
    position: fixed;
    bottom: -40vh;
    transition: 0.3;
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;

}

.has-sidebar .responsive-menu {
    transform: translateY(-40vh);
}

.responsive-menu, .responsive {
    display: none;
}

/* Stylisation du footer */

footer a, footer ul {
    text-decoration: none;
    list-style: none;
    color: #FFF;
}

footer div, footer a, footer ul li, footer h6 {
    font-family: cairo-medium;
    font-size: 16px;
}

.ril-dev {
    border-top: 1px solid yellow;
}

footer .logo-zone{
    height: fit-content !important;
}

/*Stylisation de la page d'accueil*/


.card-zone img{
    width: 30px;
    height: 30px;
}

.card-zone p{
    font-family: cairo-regular;
    font-size: 16px;
}

.card-zone div {
    display: flex;
    flex-direction: column;
    gap: 5px;
    background-color: #FFF;
    border-radius: 10px;
    box-shadow: 2px 2px 5px 5px #11111166;
    width: 100%;
    padding: 20px;
    height: 120px;
}

.home-services div {
    background-color: #FFF;
    border-radius: 10px;
    color: #000;
    padding: 10px 20px 10px 20px;
}

.home-services p {
    font-family: cairo-regular;
}

.home-services h5 {
    font-family: cairo-bold;
    font-size: 22px;
}

.separator {
    height: 5px;
    background-color: #ff0000;
    width: 100px;
}

.testimonials-zone img {
    width: 40px;
    height: 40px;
    border-radius: 100%;
}

.testy-card {
    width: 100%;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 5px #11111166;
}

.partners img {
    box-sizing: border-box;
    width: 100%;
}

.partners .bg-white {
    border-radius: 10px;
    box-shadow: 2px 2px 3px 4px #1111115f;
}

.home-contact {
    padding: 10px 20px 10px 20px;
    border: 1px solid #111;
    border-radius: 10px;
}

/* Stylisation de la bannière des autres pages */

.banner {
    height: 70vh;
    background-image: url(../images/male-bus-driver-portrait.jpg);
    width: 100%;
    background-size: cover;
    background-position: top;
}

.banner nav {
    margin-top: 0 !important;
}

.mask {
    background-color: #111111a4;
}

/*Stylisation de la page a propos */

.about-cards img{
    width: 50%;
}

.about-cards .ab-card {
    max-width: 48%;
    padding: 5px;
}

.collab-cards div {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
    border: 1px solid #000;
}

.collab-cards div img {
    width: 100%;
}

/*Stylisation de la page de contact*/

.enterprise {
    background-image: url(../images/view-new-york-city-sunset.jpg);
    background-position: center;
    background-size: cover;
    min-height: 400px;
}




/*Responsive Design */

@media (max-width: 1290px) {
    .container-p {
        padding: 0 80px;
    }

    .card-zone div {
        height: 150px;
    }
}

@media (max-width: 1200px) {
    .container-p {
        padding: 0 70px;
    }

    .about-cards .ab-card {
        max-width: 46%;
    }

    .process {
        flex-wrap: wrap-reverse;
        justify-content: center;
        align-items: center;
    }

    .process img, .profits {
        width: 100%;
    }
}

@media (max-width: 1100px) {
    .container-p {
        padding: 0 50px;
    }

}

@media (max-width: 1000px) {
    .container-p {
        padding: 0 30px;
    }

    .about-cards .ab-card {
        width: 100%;
        max-width: 100%;
    }

    .serv-desc {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 940px) {
    .main-menu .menu-bar {
        display: none;
    }

    .home-services {
        grid-template-columns: 1fr;
    }

    .grid-2b {
        grid-template-columns: 1fr ;
    }
}

@media(max-width: 900px) {
    .card-zone, .testimonials-zone {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    
    .card-zone div {
        height: fit-content;
        padding: 5px 10px;
    }

    .first-banner {
        flex-wrap: wrap-reverse;
        align-items: center;
        justify-content: center !important;
        gap: 30px;
    }

    .fondator-talk {
        flex-wrap: wrap;
        align-items: center;
        justify-content: center !important;
        gap: 50px;
    }

}

@media (max-width: 860px) {
    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 50px;
    }
    
    .logo-zone {
        flex-wrap: wrap;
    }
    
    .first-banner img {
        width: 100%;
    }

    .about-description {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .ab-director {
        display: flex;
        flex-wrap: wrap-reverse;
    }

    .sevice-card {
        grid-template-columns: 1fr;
    }

    .location-desc {
        padding-right: 0 !important;
    }

}


@media (max-width: 700px) {
    .enterprise-location {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 650px) {
    .director, .serv-desc img{
        width: 100% !important;
    }
}



@media (max-width: 600px) {
    .testimonials-zone, .home-contact {
        grid-template-columns: 1fr;
    }

    .footer {
        grid-template-columns: 1fr;
    }

    .size-52 {
        font-size: 32px;
    }

    .size-32 {
        font-size: 22px;
    }

    .size-32 {
        font-size: 22px;
    }

    .size-22 {
        font-size: 16px;
    }

    .prices {
        grid-template-columns: 1fr;
    }
}

@media (max-width: 520px) {
    .card-zone {
        display: flex;
        flex-wrap: wrap;
    }

    .collab-cards {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 460px) {
    .main-menu {
        display: none;
    }

    .responsive {
        display: block;
    }

    .mask {
        justify-content: flex-end;
    }

    .first-banner a {
        font-size: 10px;
    }

    .part-logos {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .size-52 {
        font-size: 28px;
    }

    .size-32 {
        font-size: 18px;
    }

    .size-32 {
        font-size: 16px;
    }

    .size-22 {
        font-size: 14px;
    }

}

@media (max-width: 400px) {
    .part-logos {
        grid-template-columns: 1fr 1fr;
    }

    .collab-cards {
        grid-template-columns: 1fr ;
    }
}

@media (max-width: 300px) {
    .about-cards .ab-card {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center !important;
    }
}

@media (max-width: 200px) {
    .part-logos {
        grid-template-columns: 1fr ;
    }
}


